@tailwind base;
@tailwind components;

.btn {
  @apply text-lg font-medium focus:outline-none text-white py-4 transition-colors;
}

.input {
  @apply focus:outline-none focus:border-amber-600 p-3 border-2 text-lg font-light border-amber-300 transition-colors;
}

.link {
  @apply text-sky-400 hover:underline;
}

.container {
  @apply max-w-screen-2xl mx-auto px-4;
}

@tailwind utilities;

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
